---
export interface Props {
	title: string;
	body: string;
	href: string;
	image: string;
	alt: string;
}

const { href, title, body, image, alt} = Astro.props;
---

<li class="link-card">
	<a href={href}>
		<h2>
			{title}
		</h2>
		<div>
			<img src={image} alt={alt}>
		</div>
		<p>
			{body}
		</p>
	</a>
</li>
<style>
	.link-card {
		list-style: none;
		display: flex;
		padding: 0.25rem;
		background-color: #222222;
		background-image: none;
		background-size: 400%;
		border-radius: 0.6rem;
		background-position: 100%;
		transition: background-position 0.9s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
	}

	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.3;
		padding: 1rem 1.3rem;
		border-radius: 0.5rem;
		background-color: #222222;
		opacity: 0.9;
		color: var(--textcol);
	}
	img{
		max-width: 100%;
		position: relative;
		margin-top: -30%;
	}
	div{
		border-radius: 25px;
		width: 100%;
		height: 200px;
		overflow: hidden;
	}
	h2 {
		margin: 5px;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent2));
	}
</style>
